.logo{
    width: 122px;
    height: 134px;
}
.card-img.logo-img {
  height: 45px;
  width: auto;
}
.swiper-slide {
  height: 320px !important;
  overflow: hidden;
}
.text-line {
  color: #0fb901 !important;
}
.btn-green:hover, 
.btn-green:focus{
    color: #FFFEFE;
    background-color: #069e01  !important;
    border-color: #069e01 !important;
}

footer {
  background-color: #000000;
  color: #e5e5e5;
}
footer a,
footer p {
    color: #e5e5e5;
}
.card.card-img {
  height: 471px !important;
  overflow: hidden;
  border-radius: 25px;
}
.card.card-img img {
  max-width: inherit;
  width: auto !important;
  height: auto !important;
}
.card-product-outer{
    max-height: 450px;
    height: 450px !important;
    overflow: hidden;
    padding: 15px;
}
.card-body.card-product-explaine{
    max-height: 450px;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
    padding: 0;
}
.card-body.card-product-explaine .card-img {
    height: 100%;
    border-radius: 1.25rem !important;
    overflow: hidden;
}



@media (max-width: 768px) {
    .iframe-facebook{
        overflow: hidden;
    }
    .iframe-facebook > iframe{
        width: 100% !important;
        max-width: 100% !important;
    }
    .card.card-img {
        height: 260px !important;
    }
}


@media (max-width: 576px) {
    .card-product-outer{
        height: auto !important;
        max-height: auto !important;
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1540px) {
    .navbar > .container {
        max-width: 1440px;
    }
    .nav-link {
        font-size:14px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .nav-link {
        font-size:10px;
    }
    .btn-tel {
        padding: 0 10px;
        font-size: 11px;
    }
    .card.card-img {
        height: 320px !important;
    }
}